name: Frontend Build and Push

on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**'                  # Csak ha a frontend kódja változik
      - '.github/workflows/frontend-ci.yml' # Vagy ha ezt a scriptet módosítod

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/lp-frontend:latest
